/*
    le suffixe module permet d'isoler ls styles d'un composant
    utiliser en priorité des classes CSS
*/

.site-header{
    background-color: rgb(63, 11, 75);
    padding: 1rem;
    position:relative;
}
.site-logo{
    width: 3rem;
}